:root {
    --IDFNoir: #25303B
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.liste-circulaire li a {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;    /* enlève le soulignement */
    color: inherit;           /* garde la couleur normale */
}

.liste-circulaire li:not(.active):has(a:hover) .vertical-text {
    background-color: rgb(10, 0, 130);
}

.liste-circulaire li:not(.active):has(a:hover) .cercle{
    background-color: orange;
}

.liste-circulaire li:not(.active):has(a:active) .cercle{
    background-color: black;
    border-color: white;
    transition: 0s;
}

.liste-circulaire li:not(.active):has(a:active) .vertical-text{
    background-color: white;
    color: rgb(10, 0, 130);
    transition: 0s;
}

.liste-circulaire li:first-child a{
    align-items: flex-start;
}

.liste-circulaire li:first-child a span.vertical-text{
    transform: translateY(-100%);
    font-size: 1.5em;
}

.liste-circulaire li:last-child a{
    align-items: flex-end;
}

.liste-circulaire li:last-child a span{
    transform: translateY(-100%);
    font-size: 1.5em;
}

.slider-image {
    cursor: pointer;
}

main {
    padding: 10px;
}

.reseau img{
    border-radius: 30%;
    border: 4px solid black;
}

.reseau.metro img{
    border-radius: 50%;
}

.reseau.tram img{
    border-radius: 10%;
}

.reseau .RATP {
    border-color: rgb(10, 0, 130);
}

.reseau .SNCF {
    border-color: #86bc25;
}

.reseau .others {
    border-color: #80B3E1;
}

.reseau .both {
    border-color: white;
}

.image-container {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.noscroll {
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.mode-reseau {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.mode-reseau .mode {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mode-reseau .reseau {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-left: 2px;
}

    .mode-reseau img{
        height: 2em;
    }

header {
    position: relative;
}

.comp-container {
    border-radius: 10px;
    box-shadow: 0 .2rem 2rem #cdddee;
    padding: 10px;
    background-color: #FFF;
}

.comp-container table h2 ul {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}

.comp-container table h2 {
    text-wrap: wrap;
}

.comp-container table td {
    border-top: 1px solid black;
}

.main-header {
    position: relative;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 .2rem 2rem #deeeff;
    z-index: 1;
}

.header-logo {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
}

.main-header h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.header-logo span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.Logotext {
    width: auto;
    height: 1.428em;
    vertical-align: text-bottom;
}

.reseaunb {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-left: 2px;
    font-size: 1em;
}

    .reseaunb img {
        height: 2em;
    }

.indice-bus {
    font-family: 'IDFV-Bold', sans-serif;
    background: transparent;
    color: #000000;
    display: inline-flex;
    font-size: 1em;
    font-weight: bold;
    height: 1.111em;
    width: 2.444em;
    padding-top: 0.011em;
    padding-bottom: 0.011em;
    padding-right: 0.222em;
    padding-left: 0.222em;
    margin-block: 0.111em;
    text-align: center;
    border-radius: 0.333em;
    white-space: nowrap;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.indice-bus p {
    margin: 0;
    padding: 0;
}

.liste-circulaire {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 95%; /* ou une largeur fixe si tu préfères */
}

.liste-circulaire li {
  display: flex;
  justify-content: space-between;
}

li.active .cercle {
    border: 3px solid black;
    background-color: #86bc25;
}

li.active .vertical-text {
    border: 3px solid black;
    background-color: black;
}

.section-reseau {
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 216, 255);
    padding: 15px;
    gap: 24px;
    border-radius: 33px;
}

.section-reseau h1,h2,h3,h4,h5 {
    margin: 0;
}

.vertical-text {
  position: relative;
  transform: rotate(-35deg);
  transform-origin: left top;
  font-size: 18px;
  z-index: 9999;
  font-weight: 700;
  padding: 5px;
  transition: 1s ease;
  display: flex;
  flex-direction: column;
}

.cercle {
  width: 18px;
  height: 18px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  transition: all 1s ease;
  z-index: 2;
}

.liste-circulaire::before {
    content: "";
    position: absolute;
    bottom: 8px; /* alignée avec les cercles */
    left: 0;
    right: 0;
    width: 99%;
    height: 5px;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
}

.train-ico {
    align-items: center;
    background-color: #050d9e;
    border-radius: 0.321em;
    color: #fff;
    display: flex;
    font-size: 1em;
    font-weight: 800;
    height: 1.428em;
    justify-content: center;
    width: 1.428em;
}

.restrain-ico {
    align-items: center;
    background-color: #050d9e;
    border-radius: 0.321em;
    color: #fff;
    display: inline-flex;
    font-size: 1em;
    font-weight: 800;
    height: 1.428em;
    padding: 0 .222em 0 .222em;
    justify-content: center;
}

.restrain-ico, .train-ico p {
    margin: 0;
    padding: 0;
}

.mode-picto {
    display:inline-flex;
    align-items:center;
    vertical-align:middle;
    justify-content: center;
    gap:.2em;
    line-height: 1;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.histosec {
    border-radius: 3em;
    padding: 3em;
    display: flex; justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid ;
}