#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transform: transtaleX(100%);
    transition: all 0.3s ease;
    z-index: 1003;
    overflow: visible;
    overflow-y: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
}

  #sidebar section{
    display: flex;
    width: 100%;
  }

  #sidebar section div{
    white-space: wrap;
  }
  
  .sidebar-close {
    top: 0;
    right: -10;
    display: flex;
    font-size: 2em;
    -webkit-text-stroke: 0.05em black;
    background-color: none;
  }

  #sidebar table {
    text-align: center;
  }

  .logo-header {
    display: flex;
    justify-content: left;
    max-width: 100%;
    padding: 10px;
    float: left;
    font-size: 2.4em;
  }

  .net-header {
    float: left;
  }

    #sidebar.show {
      transform: translateX(0)
    }

    #sidebar #planImage {
      margin-top: 15px;
      max-width: 100%;
    }

    #sidebar #desserte {
      font-size: 2em;
    }

    #sidebar #frequence-moy {
      font-size: 2em;
    }

    #sidebar .frequence-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #sidebar .frequence-container .min-max-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    #sidebar #connexes {
        font-size: 2em;
    }

    #sidebar #frequence-min-label, #frequence-max-label {
      color: rgb(157, 157, 157);
    }

    #sidebar .frequence-container .min-max {
      display: flex;
      flex-direction: column;
    }

    #sidebar #didyk {
      text-align: left;
    }

    .visuel-rame {
      height: 65px;
      width: auto;
      object-fit: contain;
      margin-top: 10px;
    }

    #sidebar .visuel-train-tracte {
      display: flex;
    }

    #sidebar .plan {
        width: 100%;
      }

      #sidebar .logo-header {
        float: left;
      }

      #sidebar .logo-header img {
        max-width: 50px;
        max-height: 50px;
        margin-left: 10px;
      }

    .rame-container {
        position: relative;
        flex-direction: column;
        overflow: visible;
        width: 100%;
    }

    #sidebar table {
        border-collapse: separate; /* Utilise des espaces entre les cellules */
        border-spacing: 15px; /* Espacement entre les cellules */
        width: 100%;
    }
  
      #sidebar th, td {
        text-align: center;
      }
  
      /* Applique une bordure uniquement au centre */
      #sidebar td:not(:first-child) { /* Cible la deuxième cellule de chaque ligne */
        border-left: 1px solid black;  /* Bordure noire à gauche de la cellule */
      }
  
      /* Retire les bordures des autres cellules */
    #sidebar td:first-child {
        border: none; /* Aucune bordure à gauche et à droite */
    }

    #sidebar td:last-child {
      border-top: none;
      border-bottom: none;
      border-right: none;
    }

.sidebar-backbutton {
  position: absolute;
  right: -30px;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 401;
  opacity: 0;
  -webkit-text-stroke: 0.05em black;
  font-size: 3em;
  padding: 0 30px 0 10px;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 5px black;
  transition: all 2s;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.sidebar-backbutton:hover {
  right: -5px;
  text-shadow: 0px 0px 20px black;
  cursor: pointer;
}

.sidebar-close {
  position: absolute;
  top: 50vh;
  left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  z-index: 1002;
  font-size: 2em;
  padding: 0 10px;
  text-shadow: 0px 0px 20px black;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: all 0.3s ease 0.4s;
}

.sidebar-close:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0vh;
  left: 0;
  border-radius: 0;
  height: 100%;
  font-size: 3em;
  transition: all 0.2s ease 0s;
}

.sidebar-close:active {
  cursor: pointer;
  background-color: black;
  top: 0vh;
  left: 0;
  font-size: 12em;
  border-radius: 0;
  height: 100%;
  width: 100%;
  font-size: 3em;
  transition: all 0.2s ease 0s;
}

.hidden {
  display: none;
}